.fluidkeys.apple-dark {
  background-color: #2b2b2b;
  border-radius: 5px;
}

.fluidkeys.apple-dark .hg-button,
.fluidkeys.apple-dark .hg-button.hg-button-space {
  background: #6b6b6b;
  color: #ffffff;
}

.fluidkeys.apple-dark .hg-functionBtn {
  background: #464646;
  color: #ffffff;
}

.fluidkeys.apple-dark .hg-button.hg-activeButton {
  background: #d4d4d4;
  color: #000000;
}

.fluidkeys.apple-dark .hg-functionBtn.hg-activeButton {
  background: #6b6b6b;
  color: #ffffff;
}

.fluidkeys.apple-dark.hg-layout-caps .hg-button.hg-button-lock,
.fluidkeys.apple-dark.hg-layout-shift .hg-button.hg-button-shift {
  color: #000000;
  background: #d4d4d4;
}

.fluidkeys.apple-dark .hg-row:not(:last-child) {
  margin-bottom: 7px;
}

.fluidkeys.apple-dark .hg-row .hg-button-container,
.fluidkeys.apple-dark .hg-row .hg-button:not(:last-child) {
  margin-right: 7px;
}

.fluidkeys.apple-dark .hg-button {
  height: 40px;
  border: none;
}

.fluidkeys.apple-dark .hg-functionBtn {
  font-size: 12px;
}

.fluidkeys.apple-dark .hg-button.hg-button-bksp:last-of-type,
.fluidkeys.apple-dark .hg-button.hg-button-enter:last-of-type,
.fluidkeys.apple-dark .hg-button.hg-button-shift:last-of-type,
.fluidkeys.apple-dark .hg-button.hg-button-tab:last-of-type,
.fluidkeys.apple-dark .hg-button.hg-button-alt:last-of-type,
.fluidkeys.apple-dark .hg-button.hg-button-lock:last-of-type {
  align-items: flex-end;
  justify-content: flex-end;
}
.fluidkeys.apple-dark .hg-button.hg-button-bksp:first-of-type,
.fluidkeys.apple-dark .hg-button.hg-button-enter:first-of-type,
.fluidkeys.apple-dark .hg-button.hg-button-shift:first-of-type,
.fluidkeys.apple-dark .hg-button.hg-button-tab:first-of-type,
.fluidkeys.apple-dark .hg-button.hg-button-alt:first-of-type,
.fluidkeys.apple-dark .hg-button.hg-button-lock:first-of-type {
  align-items: flex-end;
  justify-content: flex-start;
}
.fluidkeys.apple-dark .hg-button.hg-button-space {
  flex-grow: 10;
}
